:root {
    --primary-color: #204671;
    --secondary-color: #152a43;
    --footer-color: #4B6A90;
}

body {
    background-color: rgb(173, 183, 224);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    height: 90%;
    width: 600px;
    border: 1px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 30px;
}

.title-container {
    height: 10%;
    background-color: var(--secondary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 1.7rem;
    font-weight: 600;
    color: white;
}

main {
    height: 70%;
    width: 100%;
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    align-items: center;
}

.main-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    position: relative;
}

.main-top > .top-title {
    font-size: 1.3rem;
    font-weight: 700;
    color: white;

}

.scores {
    display: flex;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px;
    border-radius: 15px;
    font-size: 17px;
  }

  .badge {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
  }

  .player {
    font-weight: bold;
  }

  .score {
    font-size: 20px;
  }

  .result {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .result > * {
    font-size: 13px;
    font-weight: 700;
    color: white;
  
  }

  .restart-btn {
    height: 30px;
    width:  65px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    right: 30px;
    top: 12px;
  }

.main-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    padding-top: 0px;
    gap: 10px;
}

.picks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    width: 70%;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.8rem;
    border: 4px dashed white;
    overflow: hidden;
}

.circle-player {
    cursor: pointer;
}

.animate {
    animation: fadeIn 0.5s;
}

.user-player,.user-computer {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
}

.user-player{
    right: 40px;
}

.user-computer {
    left: 8px;
}

.footer {
    padding: 10px;
    height: 30%;
    background-color: var(--footer-color);
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.footer-container {
    margin-top: 3px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.moves {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.move-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.move {
    height: 100px;
    width: 100px;
    background-color: #fff;
}

.move:hover {
    background-color: #dfd8d8;
    box-shadow: 0 0 10px #fff;
    border-radius: 50%;
}

.play-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width:  95px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
}

.auto-play {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width:  95px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
}

.stop-auto {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width:  95px;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
}

.play-btn:hover {
    background-color: #42454c;
}

.auto-play:hover {
    background-color: #42454c;
}

.stop-auto:hover {
    background-color: #42454c;
}

.green {
    color: #3ebd93;
}

.red {
    color: #e74c3c;
}

@media screen and (max-width: 700px) {
    .main {
        width: 90%;
    }
    
    .main-top {
    }

    .circle {
        height: 80px;
        width: 80px;
        font-size: 1.5rem;
    }

    .circle-player {
        height: 80px;
        width: 80px;
    }

    .user-player,.user-computer {
        font-size: 1.2rem;
    }

    .footer {
        height: 40%;
    }

    .play-btn {
        height: 35px;
        width:  85px;
        font-size: 0.9rem;
    }

    .restart-btn {
        height: 25px;
        width:  60px;
        font-size: 0.7rem;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.show {
    display: block;
}

.hidden {
    display: none;
}